<style>
    navbar
    {
        background-color: black;
    }

    body
    {
        background-color: rgb(24, 24, 24);
    }
</style>


<navbar>
    <brand color="white"> BBook </brand>
    <h-stack>
        <a href="#" text-decoration="none">Add book</a>
        <a href="#" text-decoration="none"> About </a>
        <a class="btn btn-dark"> Register </a>
    </h-stack>
</navbar>

<main>
    
</main>