<form action="/" method="post">
  <v-stack gravity="center" h-screen>

    <h2>Register</h2>

    <label for="">firstname</label>
    <input type="text" name="firstname" placeholder="Your name" />
    <label for="">lastname</label>
    <input type="text" name="lastname" placeholder="Your last name" />
    <label for="">Your age</label>
    <input type="number" name="age" max="99" placeholder="Your age" />
    <label for="">Phone number</label>
    <input type="text" name="phone" placeholder="Phone number" />
    <label for="">Password</label>
    <input type="password" name="password" max="8" placeholder="Password" />

    <button type="submit">Register</button>
  </v-stack>
</form>